<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div
        style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

    <a th:href="@{/}">Home</a>

    | &nbsp;

    <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>

</div>

<div class="container text-center">
    <div><h1>Welcome to Doctor App</h1></div>
    <div>
        <div class="p-2">
            <a class="h2" th:href="@{/doctor/patients}">List of patients</a>
        </div>
        <!--<div class="p-2">
            <a class="h2" th:href="@{/nurse/category/new}">Create a medical category</a>
        </div>

        <div class="p-2">
            <a class="h2" th:href="@{/nurse/types}">Full list of medical services</a>
        </div>
        <div class="p-2">
            <a class="h2" th:href="@{/nurse/types/new}">Create a medical service</a>
        </div>-->


    </div>
</div>


</body>

</html>