<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History sick</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div><h1>Patient info</h1></div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Date of birthday</th>
            <th>Age</th>
            <th>Address</th>
            <th>email</th>
            <th>Telephone</th>
        </tr>
        </thead>
        <tbody>
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.birthday}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.telephone}"></td>
        </tr>
        </tbody>
    </table>
    <div><h1>History sick</h1></div>

    <form method="POST" th:action="@{'/doctor/history/getAllOnDate/'+${user.id}}">
        <table>
            <td><label for="dateFromForm">Date</label></td>
            <td><input type="date" id="dateFromForm" name="dateFromForm" th:value="*{dateFromForm}"/></td>
            <input type="submit" value="View all on date"/>
        </table>
    </form>

        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name of services</th>
                <th>Date</th>
                <th>Results of analysis</th>
                <th>Diagnosis/Detail</th>
                <th>Appointment</th>
                <th>Execute</th>
                <th>Execute appointment</th>
                <th>Cost</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="8"><b>Total</b></td>
                <td id="granted" style="font-weight: bold;"></td>
            </tr>
            </tfoot>
            <tbody id="myTable">
            <th:block th:each="history : ${listHistorySick}">
                <tr>
                    <td>[[${history.id}]]</td>
                    <td>[[${history.type.name}]]</td>
                    <td>[[${history.dateOfAction}]]</td>
                    <td>[[${history.analysisResults}]]</td>
                    <td>[[${history.diagnosis}]]</td>
                    <td>[[${history.appointment}]]</td>
                    <td>[[${history.execute}]]</td>
                    <td>[[${history.executeAppointment}]]</td>
                    <td name="price">[[${history.type.price}]]</td>
                    <td>
                        <a th:href="@{'/doctor/history/'+${user.id}+'/edit/'+${history.id}}">Edit</a>
                        &nbsp;
                        <a th:href="@{'/doctor/'+${user.id}+'/history/delete/'+${history.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <script>

            var tds = document.getElementsByName("price");

            var total = 0;

            for(var i=0; i<tds.length; i++)
                total += parseInt(tds[i].innerHTML);

            document.getElementById('granted').innerHTML=total;

        </script>


        <div class="p-2">
            <a class="h2" th:href="@{'/doctor/history/new/'+${user.id}}">Add a note</a>
        </div>

    </div>

    <a class="h2" th:href="@{/doctor/patients}">Go back to the list patients</a>

</div>
</body>
</html>