<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:switch="${usersList}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <div><h2 class="text-center">Users</h2></div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Login</th>
                <th>Password</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${usersList}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.username}]]</td>
                    <td>[[${user.password}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <a th:href="@{'/admin/edit/'+${user.id}}">Edit</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <p><a class="h2" href="/admin">Back to admin page</a></p>

</div>
</body>
</html>