<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New History Sick</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body class="bg-success p-2 text-dark bg-opacity-25">
<th:block th:include="/doctor/_menu_doctor"></th:block>
<div><h2 th:text="#{patient}"></h2></div>
<table class="table table-striped table-bordered">
    <thead class="table-light">
    <tr>
        <th th:text="#{first_name}"></th>
        <th th:text="#{last_name}"></th>
        <th th:text="#{age}"></th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.age}"></td>
    </tr>
    </tbody>
</table>


<div class="container text-center">
    <div th:if="${history.id == null}"><h1 th:text="#{create_history_sick}">Create New History sick</h1></div>
    <div th:unless="${history.id == null}"><h1 th:text="#{edit_history_sick}">Edit History sick</h1></div>
    <form th:action="@{'/doctor/history/save/'+${user.id}}" th:object="${history}" method="post"
            style="max-width: 600px; margin: 0 auto";>
        <input type="hidden" name="historyId" th:field="*{id}" th:value="${history.id}"/>

        <div class="m-3">

            <div class="form-group row">
                <label class="col-form-label col-sm-4" th:text="#{name_services}"></label>
                <div class="col-sm-8">
                   <select th:field="*{type}" class="form-control" required>
                       <th:block th:unless="${history.id == null}" th:each="typ : ${listTypes}">
                           <option th:text="${typ.name}" th:value="${typ.id}"/>
                       </th:block>
                       <th:block th:if="${history.id == null}" th:each="typ : ${listTypes}">
                           <option th:text="${typ.name}" th:value="${typ.id}"/>
                       </th:block>

                   </select>
                </div>
            </div>


                <div class="form-group row">
                    <label class="col-form-label col-sm-4" th:text="#{date_services}"></label>
                    <div class="col-sm-8">
                        <input type="date" th:field="*{dateOfAction}" class="form-control" required />
                    </div>
                </div>


            <th:block th:unless="${history.id == null}" th:each="detail, status : ${history.analysisResults}">

                <input type = "hidden" name="detailID" th:value="${detail.id}" />
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" th:text="#{results_analysis}"></label>
                    <div class="col-sm-4">
                        <input type="text" name="detailName" th:value="${detail.name}" class="form-control" required />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="detailValue"  th:value="${detail.value}" class="form-control" required />
                    </div>
                </div>

            </th:block>

            <th:block th:if="${history.id == null}">
            <div class="form-group row">
                <label class="col-form-label col-sm-4" th:text="#{results_analysis}"></label>
                <div class="col-sm-4">
                    <input type="text" name="detailName" placeholder="Name" class="form-control" required />
                </div>
                <div class="col-sm-4">
                    <input type="text" name="detailValue" placeholder="Value" class="form-control" required />
                </div>
            </div>

            </th:block>

                <div class="form-group row">
                    <label class="col-form-label col-sm-4" th:text="#{diagnosis_detail}"></label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{diagnosis}" class="form-control" required />
                    </div>
                </div>

            <th:block th:if="${history.appointment != null}">
            <div class="form-group row">
                <label class="col-form-label col-sm-4" for="execute" th:text="#{execute_of_appointment}"></label>
                <input class="form-check-input" type="checkbox" th:field="*{execute}" id="execute" placeholder="execute">

            </div>
            </th:block>


            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
            </div>

        </div>

    </form>
</div>


</body>
</html>